/*------------ 
    RESET 
------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--colore-secondario-testo);
}

/*------------ 
    Variabili 
------------*/

 :root{
    --colore-primario-testo: #fff;
    --colore-secondario-testo: #23272a;
    --colore-terziario-testo: #4d5c8b;
    --colore-sfondo: #f6f6f6;
}

/* .debug header{
    background-color: lightcoral;
}

.debug header div{
    background-color: lightblue;
}

.debug header nav{
    background-color: aqua;
} */

/*------------ 
    COMMON
 ------------*/

.container{
    max-width: 1200px;
    margin: auto;
}

.clear-fix::after{
    content: "";
    display: table;
    clear: both;
}

.centrato{
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%,-50%); 
}

i {
    margin-right: 5px;
}


/* .section:nth-child(2n+1)::before{
    content: "<img src="img/wave.svg" alt="">";
} */

/*--- BUTTON ---*/

button{
    text-transform: capitalize;
    height: 35px;
    padding: 0 20px;
    border-radius: 15px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer; 
}

.btn-white{
    background-color: #fff;
    color: var(--colore-secondario-testo)
}

.btn-black{
    background-color: var(--colore-secondario-testo);
    color: var(--colore-primario-testo)
}

.btn-blue{
    background-color: var(--colore-terziario-testo);
    color: var(--colore-primario-testo)
}

button:hover{
    box-shadow: 8px 15px rgba(0,0,0,.2);
    
}

/*--- Testo syle ---*/

h1{
    font-size: 45px;
}

h2{
    font-size: 30px;
    margin-bottom: 15px;
}

footer h2{
    color: var(--colore-terziario-testo);
}

h5{
    color: var(--colore-terziario-testo);
}

p,h5{
    font-size: 14px;
}



/*------------ 
    TAG SEMANTICI 
------------*/

/*--- HEADER ---*/
header {
    background-color: #3161e0;
    color: var(--colore-primario-testo);
    position: relative;
    padding: 20px;
}

header .logo{
    float: left;
}

header .list-button{
    float: right;
}
header>*{
    vertical-align: middle;
}

/*---LOGO---*/
.logo img{
    vertical-align: middle;
}

/*---MAIN NAV---*/

header .main-nav ul li {
    display: inline-block;
}

header .main-nav ul li a {
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
    margin: 0 15px;
}


/* @implementare hover che sottolinea */
/* header .main-nav ul li a::after{
    content: "";
    display: none;
    position: absolute;
    bottom: 5px;
    background-color: var(--colore-primario-testo);
    width: 100%;
    height: 2px;
    border-radius: 2px;
}

header .main-nav ul li a:hover header .main-nav ul li a::after{
    display: block;
} */

/*--- HERO ---*/

section.hero{
    position: relative;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    color: var(--colore-primario-testo);
    text-align: center
}

section.hero .box-text{
    max-width:45%;
}

section.hero .box-text p{
    margin-top: 30px;
    margin-bottom: 15px;
    
}

section.hero .box-text .list-button button{
    margin-left: 15px;
}

/*--- SECTION ---*/

section{
    padding: 100px 0;
}

section .col{
    float: left;
    width: calc(100% / 2 );
}

section .col img{
    vertical-align: middle;
    width: 100%;
}

section .col .box-text{
    width: 50%;
    margin: 75px auto;
    display: block;
}

section:nth-child(2n + 1){
    background-color: var(--colore-sfondo);
}

section:last-child{
    text-align: center;
}

/*--- Footer ---*/

footer{
    background-color: var(--colore-secondario-testo);
    color: var(--colore-primario-testo);
    padding: 30px 0;
}

footer .col{
    float: left;
    width: calc(100% / 4 - 10px);
    margin: 5px;
}

footer .col-big{
    width: calc((100%/4)*3);
    float: left;
}

footer hr {
    color: var(--colore-terziario-testo);
}
footer .lang{
    margin-bottom: 15px;
    font-size: 12px;
}

footer .lang>* {
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

footer .col-big .col{
    padding: 15px;
}

footer .col-big .col ul {
    list-style: none;
}

footer .col-big .col ul li{
    font-size: 12px;
    margin: 5px 0;
    text-transform: capitalize;
}

footer .social i{
    margin-left: 10px;
}

footer .bot{
    padding: 35px;
}

footer .bot .logo{
    float: left;
}
footer .bot .list-button{
    float: right;
}






