/*------------ 
    RESET 
------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*------------ 
    Variabili 
------------*/

 :root{
    --colore-primario-testo: #fff;
    --colore-secondario-testo: #23272a;
}

/* .debug header{
    background-color: lightcoral;
}

.debug header div{
    background-color: lightblue;
}

.debug header nav{
    background-color: aqua;
} */

/*------------ 
    COMMON
 ------------*/

.container{
    max-width: 1200px;
    margin: auto;
}

.clear-fix::after{
    content: "";
    display: table;
    clear: both;
}

.centrato{
   position: absolute;
   top:50%;
   left: 50%;
   transform: translate(-50%,-50%);
   
}

/*------------ 
    TAG SEMANTICI 
------------*/

/*--- HEADER ---*/
header {
    background-color: #3161e0;
    position: relative;
    padding: 20px;
}

header .logo{
    float: left;
}

header .list-button{
    float: right;
}
header>*{
    height: 35px ;
    line-height: 35px;
    vertical-align: middle;
}

/*---LOGO---*/
.logo img{
    vertical-align: middle;
}

/*---MAIN NAV---*/

header .main-nav ul li, header .main-nav ul li a{
    display: inline-block;
}

header .main-nav ul li a{

}




